<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Edward Liao">
    <meta name="robots" content="index, follow">
    <meta name="description" content="查詢商品價格">
    <title>
        <%= title %>｜商品查詢系統
    </title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/icon/logo.svg" alt="logo"></a>
            <h1><a href="/">商品管理系統</a></h1>
        </div>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>

    <main>
        <div class="AuthForm">
            <%- include('../includes/error-message.ejs')%>
                <form action="/login" method="POST">
                    <label for="accountId">使用者帳號</label>
                    <input type="text" id="accountId" name="accountId" placeholder="使用者帳號" required autofocus>
                    <label for="password">密碼</label>
                    <input type="password" id="password" name="password" placeholder="密碼" required>
                    <label>
                        <input type="checkbox" value="remember-me"> 記住我的帳號
                    </label>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit">登入</button>
                    <a href="/signup">新增使用者</a>
                </form>
        </div>
    </main>

    <%- include('../includes/footer.ejs') %>