<% let messages=getMessages() %>
    <% if(messages.error){%>
        <div class="errorAlert" role="alert">
            <% messages.error.forEach(function(message) { %>
                <div>
                    <p>
                        <%= message %>
                    </p>
                </div>
                <% }) %>
        </div>
        <% } %>

            <% if(errorMessages){ %>
                <div class="errorAlert" role="alert">
                    <p>
                        <%= errorMessages %>
                    </p>
                </div>
                <% } %>