<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Edward Liao">
  <meta name="robots" content="index, follow">
  <meta name="description" content="查詢商品價格">
  <title>
    <%= title %>｜商品查詢系統
  </title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<% var activeIndex,activeAddProduct,isAuthenicated;%>

  <body>
    <header>
      <div class="logo">
        <a href="/"><img src="/icon/logo.svg" alt="logo"></a>
        <h1><a href="/">商品管理系統</a></h1>
      </div>
      <nav>
        <ul>
          <li><a href="/" class="<% if(activeIndex){%>active<% } %>">商品查詢</a></li>
          <li><a href="/admin/add-product" class="<% if(activeAddProduct){%>active<% } %>">新增商品</a></li>
          <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <li><button type="submit" class="logout">登出</button></li>
          </form>
        </ul>
      </nav>
    </header>