<%- include('./includes/header.ejs') %>

    <main>
        <div class="addProductBackground"></div>
        <div class="addProduct">
            <%- include('./includes/error-message.ejs')%>
                <form action="/admin/<% if(editMode){%>edit-product<% }else{ %>add-product<% } %>" method="post">
                    <label for="category">商品類別</label>
                    <select id="category" name="category" aria-describedby="categoryHelp"
                        aria-label="Default select example" required>
                        <option <% if(!editMode){%>selected<% } %> value="">請選擇產品類別</option>
                        <option <% if(editMode && productDetail.category=='飲料' ){%>selected<% } %>
                                <% if(oldInput.category=='飲料' ){%>selected<% } %> value="飲料">飲料
                        </option>
                        <option <% if(editMode && productDetail.category=='食品' ){%>selected<% } %>
                                <% if(oldInput.category=='食品' ){%>selected<% } %> value="食品">食品
                        </option>
                        <option <% if(editMode && productDetail.category=='菸酒' ){%>selected<% } %>
                                <% if(oldInput.category=='菸酒' ){%>selected<% } %> value="菸酒">菸酒
                        </option>
                        <option <% if(editMode && productDetail.category=='百貨' ){%>selected<% } %>
                                <% if(oldInput.category=='百貨' ){%>selected<% } %> value="百貨">百貨
                        </option>
                        <option <% if(editMode && productDetail.category=='其他' ){%>selected<% } %>
                                <% if(oldInput.category=='其他' ){%>selected<% } %> value="其他">其他
                        </option>
                    </select>
                    <label for="title">名稱</label>
                    <input type="text" id="title" name="title" placeholder="請輸入商品名稱" aria-describedby="titleHelp"
                        value="<% if(editMode){%><%= productDetail.title %><% } %><%= oldInput.title %>" required>
                    <label for="price">價格</label>
                    <input type="text" id="price" name="price" placeholder="請輸入商品價格" aria-describedby="priceHelp"
                        value="<% if(editMode){%><%= productDetail.price %><% } %><%= oldInput.price %>" required>
                    <label for="barcode">條碼</label>
                    <input type="text" id="barcode" name="barcode" placeholder="請輸入商品條碼（非必填）"
                        aria-describedby="barcodeHelp"
                        value="<% if(editMode){%><%= productDetail.barcode %><% } %><%= oldInput.barcode %>">
                    <label for="description">備註</label>
                    <textarea id="description" name="description" placeholder="（非必填）"
                        rows="4"><% if(editMode){%><%= productDetail.description %><% } %><%= oldInput.description %></textarea>
                    <input type="hidden" name="date" value="<%- moment() %>" />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <% if(editMode){%>
                        <input type="hidden" name="productId" id="productId" value="<%= productDetail._id %>" />
                        <button type="submit">確認修改</button>
                        <a href="/product/<%= productDetail._id %>">放棄修改</a>
                        <% }else{ %>
                            <button type="submit">新增商品</button>
                            <a href="/">取消</a>
                            <% } %>
                </form>
        </div>
    </main>

    <%- include('./includes/footer.ejs') %>