<%- include('includes/header.ejs')%>

    <main>
        <div class="errorPage">
            <img src="/icon/404.svg" alt="error">
            <h1>
                <%= error.status %>
                    <%= message %>
            </h1>
            <h3>
                很抱歉，您所找的頁面不見了！
            </h3>
            <!-- <pre><%= error.stack %></pre> -->
            <p>點擊按鈕回到首頁</p>
            <a href="/" role="button">回首頁</a>
        </div>
    </main>

    <!-- <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="jumbotron">
                    <h1 class="display-4">
                        <%= error.status %>找不到頁面
                    </h1>
                    <p class="lead">
                        <%= message %>很抱歉，你所找的頁面不見了！
                    </p>
                    <pre><%= error.stack %></pre>
                    <hr class="my-4">
                    <p>點擊按鈕回到首頁</p>
                    <a class="btn btn-primary btn-lg" href="/" role="button">回首頁</a>
                </div>
            </div>
        </div>
    </div> -->


    <%- include('includes/footer.ejs')%>