<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Edward Liao">
    <meta name="robots" content="index, follow">
    <meta name="description" content="查詢商品價格">
    <title>
        <%= productDetail.title %>｜商品查詢系統
    </title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<% var activeIndex,activeAddProduct,isAuthenicated;%>

    <body>
        <header>
            <div class="logo">
                <img src="/icon/icons8-safari.svg" alt="logo">
                <h1>商品查詢系統</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">商品查詢</a></li>
                    <li><a href="/admin/add-product">新增商品</a></li>
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <li><button type="submit" class="logout">登出</button></li>
                    </form>
                </ul>
            </nav>
        </header>

        <main>
            <div class="detail">
                <!-- <section class="pic">
                    <img src="https://picsum.photos/350/350/?random=1">
                </section> -->

                <section class="productDetail">
                    <p>
                        <%= productDetail.barcode %>
                    </p>
                    <h4>
                        <%= productDetail.title %>
                    </h4>
                    <h5>類別：<%= productDetail.category %>
                    </h5>
                    <h5>售價：<%= productDetail.price %>元</h5>
                    <textarea name="description" id="description" rows="4"
                        readonly><%= productDetail.description %></textarea>
                    <p>最後更新：<%= moment(productDetail.date).format('YYYY-MM-DD HH:mm:ss') %>
                    </p>
                </section>
            </div>
            <div class="productDetailButton"><a href="/admin/edit-product/<%= productDetail._id %>">修改</a></div>
        </main>

        <%- include('./includes/footer.ejs') %>