<%- include('./includes/header.ejs') %>

    <main>
        <div class="table">
            <% if(!product[0]){ %>

                <div class="noSearch" style="font-size: 1.5rem;" role="alert">
                    <h3>Oops!查無商品</h3>
                    <img src="/icon/no-products.svg" alt="no-products">
                </div>
                <% }else{ %>
                    <div class="info" role="alert">
                        【<%= searchCategory %>】 搜尋結果共<%= product.length %>筆資料
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">條碼</th>
                                <th scope="col">品名</th>
                                <th scope="col">價格</th>
                                <th scope="col">類別</th>
                                <th scope="col">更新日期</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% product.forEach(function(item){ %>
                                <tr>
                                    <td>
                                        <%= item.barcode%>
                                    </td>
                                    <td><a href="/product/<%= item._id %>">
                                            <%= item.title%>
                                        </a></td>
                                    <td>
                                        <%= item.price%>
                                    </td>
                                    <td>
                                        <%= item.category%>
                                    </td>
                                    <td>
                                        <%= moment(item.date).format('YYYY-MM-DD HH:mm:ss')%>
                                    </td>
                                    <form action="/admin/delete-product/<%= item._id %>" method="post">
                                        <input type="hidden" name="search" value="<%= search %>" />
                                        <input type="hidden" name="searchCategory" value="<%= searchCategory %>" />
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                        <td><button class="deleteBtn" type="submit">刪除</button></td>
                                    </form>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
        </div>
        <div class="button"><a href="/">重新查詢</a></div>
    </main>

    <%- include('./includes/footer.ejs') %>