<%- include('./includes/header.ejs') %>

    <main>
        <div class="searchForm">
            <%- include('./includes/error-message.ejs')%>
                <form action="/" method="post">
                    <label for="">商品類別</label>
                    <select id="searchCategory" name="searchCategory" aria-describedby="searchCategoryHelp"
                        aria-label="Default select example" required>
                        <option <% if(oldInput.searchCategory==='全部' ){ %>selected<% } %> value="全部">全部</option>
                        <option <% if(oldInput.searchCategory==='飲料' ){ %>selected<% } %> value="飲料">飲料</option>
                        <option <% if(oldInput.searchCategory==='食品' ){ %>selected<% } %> value="食品">食品</option>
                        <option <% if(oldInput.searchCategory==='菸酒' ){ %>selected<% } %> value="菸酒">菸酒</option>
                        <option <% if(oldInput.searchCategory==='百貨' ){ %>selected<% } %> value="百貨">百貨</option>
                        <option <% if(oldInput.searchCategory==='其他' ){ %>selected<% } %> value="其他">其他</option>
                    </select>
                    <label for="">查詢方式</label>
                    <select id="btnradio" name="btnradio" aria-describedby="btnradioHelp"
                        aria-label="Default select example" required>
                        <option <% if(oldInput.btnradio==='title' || oldInput.btnradio=='' ){ %>selected<% } %>
                                value="title">以商品名稱搜尋</option>
                        <option <% if(oldInput.btnradio==='barcode' ){ %>selected<% } %> value="barcode">以商品條碼搜尋
                        </option>
                    </select>
                    <label for="search">關鍵字</label>
                    <input id="search" name="search" type="search" placeholder="請輸入商品關鍵字" aria-label="Search" required>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit">送出</button>
                </form>
        </div>
    </main>

    <%- include('./includes/footer.ejs') %>