*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #FFE27A;
    box-shadow: 1px 1px 5px 1px rgb(78, 78, 78);
    div.logo{
        display: flex;
        flex: 5 1 200px;
        align-items: center;
        margin: 0.5rem 2rem;
        img{
            width: 4vw;
            height: 4vw;
        }
        h1{
            font-size: 1.5rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    nav{
        flex: 2 1 200px;
        margin: 0.5rem 2rem;
        ul{
            display: flex;
            justify-content:space-around ;
            li{
                list-style-type: none;
                a{
                    color: rgb(100, 100, 100);
                    text-decoration: none;
                    font-size: 1.25rem;
                }
                a:hover{
                    color: black;
                }
                button.logout{
                    border: none;
                    color: rgb(100, 100, 100);
                    background-color: rgba(0, 0, 0, 0);
                    font-size: 1.25rem;
                }
                button.logout:hover{
                    color: black;
                    cursor: pointer;
                    cursor: pointer;
                }
            }
        }
        .active{
            color: rgb(0, 0, 0);
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    background-color: #FFFAE8;
    z-index: 0;
    position: relative;

    div.searchForm{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 7.5rem 0rem;
        background-color: rgba(0, 0, 0,0.1);
        border-radius: 10px;
        padding: 2rem;
        form{
            display: flex;
            flex-direction: column;
        }
        button{
            background-color: #3FA3FF;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
        }
        button:hover{
            background-color: #1b8ffc;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
            cursor: pointer;
        }
        select, input{
            font-size: 1rem;
            border-radius: 5px;
            padding: 0.5rem;
            border: none;
        }
    }

    div.AuthForm{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 10rem 0rem;
        background-color: rgba(0, 0, 0,0.1);
        border-radius: 10px;
        padding: 2rem;

        form{
            display: flex;
            flex-direction: column;
        }
        button{
            background-color: #3FA3FF;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
        }
        button:hover{
            background-color: #1b8ffc;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
            cursor: pointer;
        }
        select, input{
            font-size: 1rem;
            border-radius: 5px;
            padding: 0.5rem;
            border: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: #1b8ffc;
        }
    }

    div.addProduct{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 3rem 0rem;
        form{
            display: flex;
            flex-direction: column;
        }
        button{
            background-color: #3FA3FF;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
        }
        a{
            background-color: #ff6161;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 1rem;
            text-align: center;
        }
        button:hover{
            background-color: #1b8ffc;
            cursor: pointer;
        }
        a:hover{
            background-color: #fd3030;
            cursor: pointer;
        }
        
        select, input, textarea{
            font-size: 1rem;
            border-radius: 5px;
            padding: 0.5rem;
            border: 1px black solid;
            resize: none;
        }
    }

    div.table{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div.noSearch{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                margin-bottom: 2rem;
            }
            img{
                width: 40%;
                margin-bottom: 1rem;
            }
        }
        
    }
    
    table{
        border-collapse:collapse;
        thead{
            tr{
                border-bottom: 2px solid #000;
                th{
                    padding: 0.5rem 2rem;
                    font-size: 1.25rem;
                }
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid #000;
                td{
                    padding: 1rem 1rem;
                    text-align: center;
                    button.deleteBtn{
                        background-color: red;
                        border: none;
                        color: white;
                        padding: 0.5rem 0.75rem;
                        border-radius: 5px;
                        font-size: 1rem;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    a:hover{
                        color: rgb(0, 79, 182);
                    }
                }
            }
        }
    }
    div.button{
        margin-top: 2rem ;
        margin-bottom: 20rem;
        a{
            background-color: #3FA3FF;
            text-decoration: none;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            border-radius: 5px;
            margin: 1rem;
        }
        button:hover{
            background-color: #1b8ffc;
            cursor: pointer;
        }
    }
    div.detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 6rem 0rem 1rem;
        align-items: center;
        section.pic{
            margin: 0rem 1rem;
            img{
                border-radius: 5px;
            }

        }
        section.productDetail{
            margin: 0rem 1rem;
            h4{
                font-size: 2rem;
                margin-top: 0.5rem;
            }
            h5{
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
            textarea{
                font-size: 1rem;
                border-radius: 5px;
                padding: 0.5rem;
                margin: 1rem 0rem;
                border: 1px black solid;
                width: 100%;
                resize: none;
                
            }
        }
    }

    div.productDetailButton{
        margin-top: 2rem ;
        margin-bottom: 5rem;
        a{
            background-color: #3FA3FF;
            text-decoration: none;
            color: white;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            border-radius: 5px;
            margin: 1rem;
        }
        button:hover{
            background-color: #1b8ffc;
            cursor: pointer;
        }
    }

    div.errorPage{
        width: 55%;
        display: flex;
        flex-direction: column;
        margin: 3rem 0rem;
        background-color: rgba(95, 158, 160, 0.3);
        padding: 2rem;
        border-radius: 10px;
        img{
            width: 80%;
        }
        h1,h3{
            font-size: 2.5rem;
            margin: 1rem 0rem;
        }
        p{
            margin: 1rem 0rem 2rem;
        }
        a{
            background-color: #3FA3FF;
            text-decoration: none;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            padding: 0.5rem;
            width: 20%;
            text-align: center;
        }
    }
}

div.errorAlert{
    border-radius: 5px;
    background-color: rgba(255, 138, 138, 0.5);
    color: rgb(128, 0, 0);
    padding: 0.75rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 23, 53);
    position: sticky;
    height: 20vh;
    h5{
        color: blanchedalmond;
        // padding: 3rem 0rem;
    }
}
    


@media screen and (max-width: 768px){
    header{
        div.logo{
            img{
                width: 6vw;
                height: 6vw;
            }
        }
    }
    main{
        div.AuthForm{
            width: 60%;
        }
        div.searchForm{
            width: 60%;
        }
        div.addProduct{
            width: 60%;
        }
        div.errorPage{
            width: 80%;
        }
    }
}

@media screen and (max-width: 550px){
    header{
        div.logo{
            img{
                width: 10vw;
                height: 10vw;
            }
        }
    }
    main{
        div.AuthForm{
            width: 80%;
        }
        div.searchForm{
            width: 80%;
        }
        div.addProduct{
            width: 80%;
        }
        div.errorPage{
            width: 80%;
            a{
                width: 40%;
            }
        }
    }
}