* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #FFE27A;
  -webkit-box-shadow: 1px 1px 5px 1px #4e4e4e;
          box-shadow: 1px 1px 5px 1px #4e4e4e;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 200px;
          flex: 5 1 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 2rem;
}

header div.logo img {
  width: 4vw;
  height: 4vw;
}

header div.logo h1 {
  font-size: 1.5rem;
}

header div.logo h1 a {
  text-decoration: none;
  color: black;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 200px;
          flex: 2 1 200px;
  margin: 0.5rem 2rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #646464;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover {
  color: black;
}

header nav ul li button.logout {
  border: none;
  color: #646464;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.25rem;
}

header nav ul li button.logout:hover {
  color: black;
  cursor: pointer;
  cursor: pointer;
}

header nav .active {
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #FFFAE8;
  z-index: 0;
  position: relative;
}

main div.searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin: 7.5rem 0rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
}

main div.searchForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div.searchForm button {
  background-color: #3FA3FF;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

main div.searchForm button:hover {
  background-color: #1b8ffc;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

main div.searchForm select, main div.searchForm input {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

main div.AuthForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin: 10rem 0rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
}

main div.AuthForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div.AuthForm button {
  background-color: #3FA3FF;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

main div.AuthForm button:hover {
  background-color: #1b8ffc;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

main div.AuthForm select, main div.AuthForm input {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

main div.AuthForm a {
  text-decoration: none;
  color: black;
}

main div.AuthForm a:hover {
  text-decoration: none;
  color: #1b8ffc;
}

main div.addProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin: 3rem 0rem;
}

main div.addProduct form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div.addProduct button {
  background-color: #3FA3FF;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

main div.addProduct a {
  background-color: #ff6161;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
}

main div.addProduct button:hover {
  background-color: #1b8ffc;
  cursor: pointer;
}

main div.addProduct a:hover {
  background-color: #fd3030;
  cursor: pointer;
}

main div.addProduct select, main div.addProduct input, main div.addProduct textarea {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px black solid;
  resize: none;
}

main div.table {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.table div.noSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.table div.noSearch h3 {
  margin-bottom: 2rem;
}

main div.table div.noSearch img {
  width: 40%;
  margin-bottom: 1rem;
}

main table {
  border-collapse: collapse;
}

main table thead tr {
  border-bottom: 2px solid #000;
}

main table thead tr th {
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
}

main table tbody tr {
  border-bottom: 1px solid #000;
}

main table tbody tr td {
  padding: 1rem 1rem;
  text-align: center;
}

main table tbody tr td button.deleteBtn {
  background-color: red;
  border: none;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

main table tbody tr td a {
  text-decoration: none;
  color: black;
}

main table tbody tr td a:hover {
  color: #004fb6;
}

main div.button {
  margin-top: 2rem;
  margin-bottom: 20rem;
}

main div.button a {
  background-color: #3FA3FF;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin: 1rem;
}

main div.button button:hover {
  background-color: #1b8ffc;
  cursor: pointer;
}

main div.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6rem 0rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.detail section.pic {
  margin: 0rem 1rem;
}

main div.detail section.pic img {
  border-radius: 5px;
}

main div.detail section.productDetail {
  margin: 0rem 1rem;
}

main div.detail section.productDetail h4 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

main div.detail section.productDetail h5 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

main div.detail section.productDetail textarea {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem 0rem;
  border: 1px black solid;
  width: 100%;
  resize: none;
}

main div.productDetailButton {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

main div.productDetailButton a {
  background-color: #3FA3FF;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin: 1rem;
}

main div.productDetailButton button:hover {
  background-color: #1b8ffc;
  cursor: pointer;
}

main div.errorPage {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0rem;
  background-color: rgba(95, 158, 160, 0.3);
  padding: 2rem;
  border-radius: 10px;
}

main div.errorPage img {
  width: 80%;
}

main div.errorPage h1, main div.errorPage h3 {
  font-size: 2.5rem;
  margin: 1rem 0rem;
}

main div.errorPage p {
  margin: 1rem 0rem 2rem;
}

main div.errorPage a {
  background-color: #3FA3FF;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  width: 20%;
  text-align: center;
}

div.errorAlert {
  border-radius: 5px;
  background-color: rgba(255, 138, 138, 0.5);
  color: maroon;
  padding: 0.75rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #001735;
  position: -webkit-sticky;
  position: sticky;
  height: 20vh;
}

footer h5 {
  color: blanchedalmond;
}

@media screen and (max-width: 768px) {
  header div.logo img {
    width: 6vw;
    height: 6vw;
  }
  main div.AuthForm {
    width: 60%;
  }
  main div.searchForm {
    width: 60%;
  }
  main div.addProduct {
    width: 60%;
  }
  main div.errorPage {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  header div.logo img {
    width: 10vw;
    height: 10vw;
  }
  main div.AuthForm {
    width: 80%;
  }
  main div.searchForm {
    width: 80%;
  }
  main div.addProduct {
    width: 80%;
  }
  main div.errorPage {
    width: 80%;
  }
  main div.errorPage a {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */